<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.usenix.org/conference/foci17/workshop-program/presentation/nithyanand">Measuring Offensive Speech in Online Political Discourse</a>.
			</span><br />
			<span class="authors">
				Rishab Nithyanand, Brian Schaffner, and Phillipa Gill.
			</span><br />
			<span class="venuetype"></span><span class="venue">7th USENIX Workshop on Free and Open Communications on the Internet (FOCI 17)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/singh">Characterizing the Nature and Dynamics of Tor Exit Blocking</a>.
			</span><br />
			<span class="authors">
				Rachee Singh, Rishab Nithyanand, Sadia Afroz, Paul Pearce, Michael Carl Tschantz, Phillipa Gill, and Vern Paxson.
			</span><br />
			<span class="venuetype"></span><span class="venue">26th USENIX Security Symposium (USENIX Security 17)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/classifiers_imc16.pdf">Classifiers Unclassified: An Efficient Approach to Revealing IP Traffic Classification Rules</a>.
			</span><br />
			<span class="authors">
				Fangfan Li, Arash Molavi Kakhki, David Choffnes, Phillipa Gill, and Alan Mislove.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/foci16-final16.pdf">The Politics of Routing: Investigating the Relationship Between AS Connectivity and Internet Freedom</a>.
			</span><br />
			<span class="authors">
				Rachee Singh, Hyungjoon Koo, Najmehalsadat Miramirkhani, Fahimeh Mirhaj, Phillipa Gill, and Leman Akoglu.
			</span><br />
			<span class="venuetype"></span><span class="venue">USENIX Workshop on Free and Open Communications on the Internet (FOCI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/usec16poster.pdf">A client-side analysis of TLS usage in mobile apps</a>.
			</span><br />
			<span class="authors">
				Abbas Razaghpanah, Narseo Vallina-Rodriguez, and Phillipa Gill.
			</span><br />
			<span class="venuetype"></span><span class="venue">Poster Session of the 25th USENIX Security Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/sigcomm16posters-final115.pdf">PathCache: A Path Prediction Toolkit</a>.
			</span><br />
			<span class="authors">
				Rachee Singh and Phillipa Gill.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM SIGCOMM Poster & Demo Session</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/contactus_pets2016.pdf">Are You Sure You Want to Contact Us? Quantifying the Leakage of PII via Website Contact Forms</a>.
			</span><br />
			<span class="authors">
				Oleksii Starov, Phillipa Gill, and Nick Nikiforakis.
			</span><br />
			<span class="venuetype"></span><span class="venue">Symposium on Privacy Enhancing Technologies (PETS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/castle.pdf">Games Without Frontiers: Investigating Video Games as a Covert Channel</a>.
			</span><br />
			<span class="authors">
				Bridger Hahn, Rishab Nithyanand, Phillipa Gill, and Rob Johnson.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE European Symposium on Security and Privacy (Euro S&P)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/astoria.pdf">Measuring and Mitigating AS-level Adversaries against Tor</a>.
			</span><br />
			<span class="authors">
				Rishab Nithyanand, Oleksii Starov, Adva Zair, Phillipa Gill, and Michael Schapira.
			</span><br />
			<span class="venuetype"></span><span class="venue">NDSS Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/hotmobile16poster.pdf">Haystack: In Situ Mobile Traffic Analysis in User Space</a>.
			</span><br />
			<span class="authors">
				Abbas Razaghpanah, Narseo Vallina-Rodriguez, Srikanth Sundaresan, Christian Kreibich, Phillipa Gill, Mark Allman, and Vern Paxson.
			</span><br />
			<span class="venuetype"></span><span class="venue">Poster Session of HotMobile</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://techscience.org/a/2015103003/">Meddle: Enabling Transparency and Control for Mobile Internet Traffic</a>.
			</span><br />
			<span class="authors">
				Ashwin Rao, Arash Molavi Kakhki, Abbas Razaghpanah, Anke Li, David Choffnes, Arnaud Legout, Alan Mislove, and Phillipa Gill.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Technology Science (JoTS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/AnwarIMC15.pdf">Investigating Interdomain Routing Policies in the Wild</a>.
			</span><br />
			<span class="authors">
				Ruwaifa Anwar, Haseeb Niaz, David Choffnes, Italo Cunha, Phillipa Gill, and Ethan Katz-Bassett.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/traffic-diff_imc15.pdf">Identifying Traffic Differentiation in Mobile Networks</a>.
			</span><br />
			<span class="authors">
				Arash Molavi Kakhki, Abbas Razaghpanah, Anke Li, Hyungjoon Koo, Rajesh Golani, David Choffnes, Phillipa Gill, and Alan Mislove.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. of ACM Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://nrg.cs.stonybrook.edu/wp-content/uploads/2015/04/sp-abstract.pdf">Poster: Games Without Frontiers: Investigating Video Games as a Covert Channel</a>.
			</span><br />
			<span class="authors">
				Bridger Hahn, Rishab Nithyanand, Phillipa Gill, and Rob Johnson.
			</span><br />
			<span class="venuetype"></span><span class="venue">Poster at IEEE Security & Privacy</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/PAM2015.pdf">Internet Outages, the Eyewitness Accounts: Analysis of the Outages Mailing List</a>.
			</span><br />
			<span class="authors">
				Ritwik Banerjee, Abbas Razaghpanah, Luis Chiang, Akassh Mishra, Vyas Sekar, Yejin Choi, and Phillipa Gill.
			</span><br />
			<span class="venuetype"></span><span class="venue">Passive and Active Measurement Conference (PAM)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/TWeb.pdf">Characterizing Web Censorship Worldwide: Another Look at the Opennet Initiative Data</a>.
			</span><br />
			<span class="authors">
				Phillipa Gill, Masashi Crete-Nishihata, Jakub Dalek, Sharon Goldberg, Adam Senft, and Greg Wiseman.
			</span><br />
			<span class="venuetype"></span><span class="venue">Transactions on the Web 9(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/mvno.pdf">A First Look at Performance in Mobile Virtual Network Operators</a>.
			</span><br />
			<span class="authors">
				Fatima Zarinni, Ayon Chakraborty, Vyas Sekar, Samir R Das, and Phillipa Gill.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/JLFG14.pdf">Automated Detection and Fingerprinting of Censorship Block Pages</a>.
			</span><br />
			<span class="authors">
				Ben Jones, Tzu-Wen Lee, Nick Feamster, and Phillipa Gill.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://www.tandfonline.com/doi/abs/10.1080/1369118X.2013.848917#.Uvzbkf3t6p0">Privacy on Twitter: A content analysis of personal information</a>.
			</span><br />
			<span class="authors">
				Lee Humphreys, Phillipa Gill, and Balachander Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">Information, Communication & Society 17(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/pd109-molavikakhki.pdf">Identifying Traffic Differentiation on Cellular Data Networks</a>.
			</span><br />
			<span class="authors">
				Arash Molavi Kakhki, Abbas Razaghpanah, Rajesh Golani, David Choffnes, Phillipa Gill, and Alan Mislove.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM SIGCOMM Poster & Demo Session</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/USec2014.pdf">Targeted Threat Index: Characterizing and Quantifying Politically-Motivated Targeted Malware</a>.
			</span><br />
			<span class="authors">
				Seth Hardy, Masashi Crete-Nishihata, Katharine Kleemola, Adam Senft, Byron Sonne, Greg Wiseman, Phillipa Gill, and Ronald J Deibert.
			</span><br />
			<span class="venuetype"></span><span class="venue">23rd USENIX Security Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/CCR2014.pdf">A Survey of Interdomain Routing Policies</a>.
			</span><br />
			<span class="authors">
				Phillipa Gill, Michael Schapira, and Sharon Goldberg.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Computer Communications Review (CCR) 44(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/imc112s-dalek.pdf">A Method for Identifying and Confirming the Use of URL Filtering Products for Censorship</a>.
			</span><br />
			<span class="authors">
				Jakub Dalek, Bennett Haselton, Helmi Noman, Adam Senft, Masashi Crete-Nishihata, Phillipa Gill, and Ronald J Deibert.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM SIGCOMM Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/GECK.pdf">Follow the Money: Understanding Economics of Online Aggregation and Advertising</a>.
			</span><br />
			<span class="authors">
				Phillipa Gill, Vijay Erramilli, Augustin Chaintreau, Balachander Krishnamurthy, Konstantina Papagiannaki, and Pablo Rodriguez.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM SIGCOMM Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://onlinelibrary.wiley.com/doi/10.1111/jcom.12030/abstract?utm_source=buffer&amp;utm_campaign=Buffer&amp;utm_content=buffer621bc&amp;utm_medium=twitter">Historicizing new media: A content analysis of Twitter</a>.
			</span><br />
			<span class="authors">
				Lee Humphreys, Phillipa Gill, Balachander Krishnamurthy, and Elizabeth Newbury.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of communication 63(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://people.cs.umass.edu/~phillipa/papers/Hiran_Pam2013.pdf">Characterizing Large-scale Routing Anomalies: A Case Study of the China Telecom Incident</a>.
			</span><br />
			<span class="authors">
				Rahul Hiran, Niklas Carlsson, and Phillipa Gill.
			</span><br />
			<span class="venuetype"></span><span class="venue">Passive and Active Measurement Conference (PAM)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
